<div
  style="background-color: #ddd; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; font-family: Arial, sans-serif;"
>
  <div style="text-align: center;">
    <h1 style="font-size: 100px; margin: 0; color: #ff0000;">404</h1>
    <p style="font-size: 20px; color: #333333;">Oops! Page not found.</p>
    <p><a
        href="/"
        style="text-decoration: none; color: #0000ff; font-weight: bold;"
      >Return to homepage</a></p>
  </div>
</div>