<section class="about" id="about">
        <div class="container">
            <h2 class="special-heading">About</h2>
            <p>Less is more work</p>
            <div class="about-content">
                <div class="image">
                    <img src="images/about.jpg" alt="">
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Autem expedita quia, quaerat voluptas culpa ut id dolorum tenetur,
                        fugit vitae eaque ullam nesciunt quos itaque est corrupti quibusdam! Accusantium, obcaecati.
                    </p>
                    <hr>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quibusdam ea laborum velit,
                        ullam fugiat in saepe iusto magnam id quae error praesentium?
                        Temporibus tenetur placeat, aliquid laboriosam iure explicabo?
                    </p>
                </div>
            </div>
        </div>
    </section>

