<section class="contact" id="contacts">
        <div class="container">
            <h2 class="special-heading">Contact</h2>
            <p>We are born to create</p>
            <div class="contact-content">
                <p>Feel free to drop us a line at:</p>
                <a href="mailto:leonagency@mail.com?subject=contact">leonagency@mail.com</a>   
                <div>
                    Find Us On Social Networks 
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
        </div>
</section>