<header>
  <div class="container">

    <img
      hx-get="/landing"
      hx-target="section"
      hx-swap="outerHTML"
      class="logo"
      src="images/logo.png"
      alt="logo"
      style="cursor: pointer;"
    />
    <div style="margin: auto; display:flex; flex-direction:row; gap:20px">
      {{#if logedIn}}
        <div
          class="avatar"
          style="width: auto; height: auto; border: 0 solid transparent; border-radius: 50%; cursor: pointer "
        >
          <img
            src="https://picsum.photos/id/1011/500/500"
            class="avatar__image"
            style="width: 24px; border-radius: 50%;"
          />
        </div>
        <a
          hx-get="/auth/logout"
          hx-target="body"
          hx-swap="outerHTML"
          style="cursor: pointer; margin-top: 5px;"
          hx-indicator="#main-indicator"
        >logout</a>
      {{/if}}
      {{#unless logedIn}}
        <a
          hx-get="/register-form"
          hx-target="section"
          hx-swap="outerHTML"
          class="cursor-pointer text-gray-700 hover:text-black mx-2"
          hx-indicator="#main-indicator"
        >register</a>
        <a
          hx-get="/login-form"
          hx-target="section"
          hx-swap="outerHTML"
          class="cursor-pointer text-gray-700 hover:text-black mx-2"
          hx-indicator="#main-indicator"
        >login</a>
      {{/unless}}
    </div>

    <div class="links">
      <span class="icon" style="cursor: pointer;">
        <span></span>
        <span class="special"></span>
        <span></span>
      </span>
      <ul>
        <li><a
            hx-get="/landing"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            hx-indicator="#main-indicator"
          >Home</a></li>
        <li><a
            hx-get="/products"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            preload="preload:init"
            hx-indicator="#main-indicator"
          >Products</a></li>
        <li><a
            hx-get="/product-form"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            hx-indicator="#main-indicator"
          >Add Product</a></li>
        <li><a
            hx-get="/users"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            hx-indicator="#main-indicator"
          >Users</a></li>
        <li><a
            hx-get="/about"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            hx-indicator="#main-indicator"
          >About</a></li>
        <li><a
            hx-get="/contact"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
            hx-indicator="#main-indicator"
          >Contact</a></li>

      </ul>
    </div>
  </div>

  {{! start indicator }}
  <svg
    class="htmx-indicator"
    id="main-indicator"
    style="position: fixed; top: 45%; left:50%; z-index:1000"
    width="38"
    height="38"
    viewBox="0 0 38 38"
    xmlns="http://www.w3.org/2000/svg"
    stroke="red"
  >
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(1 1)" stroke-width="2">
        <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
        <path d="M36 18c0-9.94-8.06-18-18-18">
          <animateTransform
            attributeName="transform"
            type="rotate"
            from="0 18 18"
            to="360 18 18"
            dur="1s"
            repeatCount="indefinite"
          />
        </path>
      </g>
    </g>
  </svg>
  {{! end indicator }}

</header>