<header>
  <div class="container">

    <img
      hx-get="/landing"
      hx-target="section"
      hx-swap="outerHTML"
      class="logo"
      src="images/logo.png"
      alt="logo"
      style="cursor: pointer;"
    />
    <div style="margin: auto;">
      {{#if logedIn}}
        <div
          class="avatar"
          style="width: auto; height: auto; border: 0 solid transparent; border-radius: 50%; cursor: pointer "
        >
          <img
            src="https://picsum.photos/id/1011/500/500"
            class="avatar__image"
            style="width: 24px; border-radius: 50%;"
          />
        </div>
      {{/if}}
      {{#unless logedIn}}
        <a
          hx-get="/register-form"
          hx-target="section"
          hx-swap="outerHTML"
          class="cursor-pointer text-gray-700 hover:text-black mx-2"
        >register</a>
        <a
          hx-get="/login-form"
          hx-target="section"
          hx-swap="outerHTML"
          class="cursor-pointer text-gray-700 hover:text-black mx-2"
        >login</a>
      {{/unless}}
    </div>

    <div class="links">
      <span class="icon" style="cursor: pointer;">
        <span></span>
        <span class="special"></span>
        <span></span>
      </span>
      <ul>
        <li><a
            hx-get="/landing"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
          >Home</a></li>
        <li><a
            hx-get="/products"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
          >Products</a></li>
        <li><a
            hx-get="/product-form"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
          >Add Product</a></li>
        <li><a
            hx-get="/about"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
          >About</a></li>
        <li><a
            hx-get="/contact"
            hx-target="section"
            hx-swap="outerHTML"
            style="cursor: pointer;"
          >Contact</a></li>

      </ul>
    </div>
  </div>
</header>