
<section class="landing">
  <div class="intro-text">
    <h1
      hx-get="/products"
      hx-target=".landing"
      hx-swap="outerHTML"
      style="cursor: pointer;"
    >
      Our Products
    </h1>
    <p>We are Always proud to serve and provide</p>
  </div>
</section>
