<section>
  <div class="form-container">
    {{#if contextMsg}}
      <div style="color: red;">{{contextMsg}}</div>
    {{/if}}
    <h1>Login</h1>
    <form
      hx-post="/auth/login"
      hx-target="body"
      hx-swap="innerHTML"
      hx-indicator="#main-indicator"
    >
      <label for="username">username</label>
      <input type="text" id="username" name="username" required />

      <label for="password">password</label>
      <input type="text" id="password" name="password" required />

      {{#if isInvalid}}
        <div style="color: red;">Invalid username or password</div>
      {{/if}}

      <button class="form-button" type="submit">Login</button>
    </form>
    <div>
      You don't have an account?
      <a
        hx-get="/register-form"
        hx-target="section"
        hx-swap="outerHTML"
        style="cursor: pointer; color:blue"
        hx-indicator="#main-indicator"
      >register</a>
    </div>
  </div>
</section>