<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- this css file is supposed to render all elements normally in all browsers!!.
         the only thing I understand in it is that it sets the body marging to 0 -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- the main css file -->
    <link rel="stylesheet" href="css/master.css" />
    <!-- tailwind output file -->
    <link href="css/tailwind.output.css" rel="stylesheet" />
    <!-- font awesome library -->
    <link rel="stylesheet" href="css/all.min.css" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <script src="js/htmx.min.js" defer></script>
    <script src="js/htmx-ext-preload.min.js" defer></script>
    <script src="/js/sweetalert2.all.min.js" defer></script>
    <script src="js/events.js" defer></script>

    <!-- preloading images once on the initial load of the website -->
    {{#each productsArray as |product|}}
      <link rel="preload" as="image" href="/products/image/{{product._id}}" />
    {{/each}}

    <title>{{title}}</title>
  </head>
  <body hx-ext="preload">
    {{{body}}}
  </body>
</html>